.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.search-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}
table {
  border: 1px solid #333;
}
td {
  border: 1px solid #ccc;
}
