<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>good-detail</title>
  </head>
  <body>
    <div>商品名称： <%= name %></div>
    <div>商品ID：<%= id %></div>
  </body>
</html>
