<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>good-list</title>
  </head>
  <body>
    <div class="list">
      <ul>
        <% for(var i= 0; i<list.length; i++) { %>
          <a href=<%='http://localhost:3000/detail/' +list[i].id %>>
            <li><%= list[i].name %></li>
          </a>

        <% } %>
      </ul>
    </div>
  </body>
</html>
